{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9774b0bbc902c74cee3585cc54913529",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "x-detectify-key",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.detectify.com/rest/v2/members/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 210,
            "text": "[{\"user_token\":\"B9AC965644766472B1A80556E643DF8C\",\"first_name\":\"Jehison\",\"last_name\":\"Prada\",\"email\":\"jehison.prada@contractor.jupiterone.com\",\"authentication\":\"sso\",\"role\":\"Admin\",\"created\":\"2024-03-18T16:13:54Z\",\"last_login\":\"2024-03-18T16:13:59Z\"}]\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-amzn-requestid",
              "value": "7d469619-7cd3-45ab-8623-466ac83640f2"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "210"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "U4oJDE4DjoEETJQ="
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 19 Mar 2024 16:15:54 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1454,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
